{% load static %}
<html>
<head>
    <title>Firma bilgileri</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'kurgu/table.css'  %}">
</head>
<body>

    <table cellpadding="0"; cellspacing="0">
        <thead>
          <tr>
              <th>Katilimci</th>
              <th>Unvan</th>
              <th>instagram</th>
              <th>Web Adresi</th>
              <th>telefon</th>
              <th>sponsorluk</th>
              <th>altbant</th>
              <th>dakika</th>
              <th>test</th>

          </tr>
        </thead>
        {% for kj in kj_list %}
        <tr>
            <td><span style="text-align: center;width: 150px;">{{kj.client}}</span></td>
            
            {% if kj.is_played %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="is_played" checked></td>
            {% else %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="is_played" ></td>
            {% endif %}

            {% if kj.videos %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="videos" checked></td>
            {% else %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="videos" ></td>
            {% endif %}

            {% if kj.kj_detials %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="kj_detials" checked></td>
            {% else %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="kj_detials" ></td>
            {% endif %}

            {% if kj.banner %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="banner" checked></td>
            {% else %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="banner" ></td>
            {% endif %}

            {% if kj.presentation %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="presentation" checked></td>
            {% else %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="presentation" ></td>
            {% endif %}

            {% if kj.subtitle %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="subtitle" checked></td>
            {% else %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="subtitle" ></td>
            {% endif %}

            {% if kj.youtube %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="youtube" checked></td>
            {% else %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="youtube" ></td>
            {% endif %}

            {% if kj.is_sent %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="is_sent" checked></td>
            {% else %}
            <td><input style="text-align: center;width: 150px;" type="checkbox"  id="{{kj.id}}" name="is_sent" ></td>
            {% endif %}
            
            
            
        </tr>
        {% endfor %}
    </table>


<script src="{% static 'kurgu/autocommit.js'  %}"></script>

</html>