{% load static %}
<html>
<head>
    <title>Firma bilgileri</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'kurgu/table.css'  %}">
</head>
<body>

    <table cellpadding="0"; cellspacing="0">
        <thead>
          <tr>
            <th>Firma unvanı</th>
            <th>Röportaj veren</th>
            <th>Ekranda yer alan unvan</th>
            <th>instagram</th>
            <th>Web adresi</th>
            <th>Tel no</th>
            <th>Sponsorluk</th>
            <th>Altbant</th>
            <th>Yayın dakikasi</th>
            <th>Sözleşme ücreti</th>
            <th>Alınan ücret</th>
            <th>Not</th>
          </tr>
        </thead>
        {% for kj in kj_list %}
        <tr>
            <td><span style="text-align: center;">{{kj.company.company_name.name}}</span></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="client" value="{{kj.client}}"/></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="title" value="{{kj.title}}" /></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="instagram" value="{{kj.instagram}}" /></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="website" value="{{kj.website}}" /></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="tel" value="{{kj.tel}}" /></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="sponser" value="{{kj.sponser}}" /></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="ad_banner" value="{{kj.ad_banner}}" /></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="play_time_as_minuate" value="{{kj.play_time_as_minuate}}" /></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="agreement_price" value="{{kj.agreement_price}}" /></td>
            <td><input style="text-align: center;" type="text" id="{{kj.id}}" name="Paid_price" value="{{kj.Paid_price}}" /></td>
            <td><textarea style="text-align: center;" type="text" id="{{kj.id}}" name="note" >{{kj.note}}</textarea></td>
        </tr>
        {% endfor %}
    </table>


<script src="{% static 'kurgu/autocommit.js'  %}"></script>

</html>