{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Firma bilgileri</title>
  <link href="{% static 'list/css/excss.css'  %}?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'list/css/all.css'  %}"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="{% static 'list/css/single.css' %}" rel="stylesheet">
</head>

<body>
  {% if message %}
    <script>alert('{{message}}');window.close();</script>
  {% endif %}
  <form method="post" action="{% url 'reports:agreement' company_id=company.id %}" style="width: 900px;">
    {% csrf_token %}
    
    <h4>Firma unvanı</h4>
    <input name="company_name" value="{{company.name}}"  required>
    <br>

    <div class="btn-block">
      <button type="submit" href="/">Gönder</button>
    </div>
  </form>
</body>

</html>