{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Firmalar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'list/css/style.css'  %}">
</head>

<body>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Firmalar ({{ companies|length }})</h2>
                </div>
            </div>


            <form method="get" action="{% url 'reports:companies' %}">
                <div style="position: fixed; ">
                    <h5>Durumlar</h5>
                    <select name="last_status_filter" >
                        <option value="0">Tümü</option>
                        {% for status in statuses %}
                        <option value="{{status.id}}">{{status.name}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>

                <div style="position: fixed ;left: 25%;">
                    <h5>Telefon</h5>
                    <select name="tel_filter">
                        <option value="0">Tümü</option>
                        <option value="tel">Cep</option>
                        <option value="ofice">Sabit</option>
                    </select>
                    <br>
                </div>

                <div style="position: fixed ;left: 50%;">
                    <h5>Sırala</h5>
                    <select name="order_by">
                        <option value="last_status">Son duruma göre</option>
                        <option value="sector">Sektöre göre</option>
                    </select>
                    <br>
                </div>
                <button onClick="this.disabled=true; this.innerText='Lütfen bekleyin';this.form.submit()" style="position: fixed ;left: 70%;top: 30%;" type="submit">uygula</button>

            </form>
            <br>
            <br>

            <!-- <h7 class="heading-section">İl seçiniz: </h7>
            <select class="nav  navbar-brand">
                {% for city in cities %}
                <option><a href="{% url 'reports:companies' city_id=city.id %}">{{city.name}}</a></option>
                {% endfor %}
            </select> -->

            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">


                        <table class="table table-striped">


                            <thead>
                                <tr>
                                    <th>Unvan</th>
                                    <th>Telefon</th>
                                    <th>SİTE</th>
                                    <th>Sektör</th>
                                    <th>Durum</th>
                                    <th>İsim Soyisim</th>
                                    <th>Not</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>




                                {% for company in companies %}
                                <tr style="background-color: {{company.last_status.color}};">
                                    <form method="post" action="{% url 'reports:companies' %}">
                                        <th><a
                                                href="{% url 'reports:company' company_id=company.id %}">{{company.name}}</a>
                                        </th>
                                        <td><span data-text="{{company.phone}}"></span></td>
                                        <td><a href="https://{{company.site}}" target="_blank">{{company.site}}</a></td>
                                        <td>{{company.sector}}</td>

                                        <td>
                                            <select name="status_add">
                                                <option value="{{ company.last_status.id }}">
                                                    {{company.last_status.name}}</option>
                                                {% for status in statuses %}
                                                <option value="{{status.id}}">{{status.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><textarea name="fullname">{{company.full_name}}</textarea></td>
                                        <td><textarea name="note">{{company.note}}</textarea></td>
                                        <input type="hidden" name="company_id" value="{{company.id}}">
                                        <td><button onClick="this.disabled=true; this.innerText='Lütfen bekleyin';this.form.submit()" type="submit">güncelle</button></td>
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'list/js/jquery.min.js'  %}"></script>
    <script src="{% static 'list/js/popper.js'  %}"></script>
    <script src="{% static 'list/js/bootstrap.min.js'  %}"></script>
    <script src="{% static 'list/js/main.js'  %}"></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
        integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
        data-cf-beacon='{"rayId":"77f27e1a7e9d50ac","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>