{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Firma bilgileri</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="{% static 'list/css/single.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="testbox">
      <form method="post" action="{% url 'reports:company' company_id=company.id %}">
        {% csrf_token %}
        <h1>İl:  <span data-text="{{company.city.name}}"></span> </h1>
        <br>
        <h1>Sektör:  <span data-text="{{company.sector}}"></span> </h1>
        <br>
        <h1>Unvan:  {{company.name}}</h1>
        <br>
        <h1>Telefon:   <span data-text="+90 {{company.phone}}"></span></h1>
        <br>
        <h1>Adres:  <span data-text="{{company.address}}"></span></h1>
        <br>
        <h1>Site: <span data-text="{{company.site}}"></span></h1>
        <br>
        <h1>Personel sayısı: {{company.personels_caount}}</h1>
        <br>
        <h1>Son durum: {{company.last_status}}</h1>
        <br>
        <br>
        <h1>Geçmiş durumlar:</h1>
        {% for status in company.status.all %}
        <h2>{{status.name}}</h2>
        {% endfor %}
        <br>
        <br>
        <h4>Durum Ekle<span>*</span></h4>
        <div class="title-block">
        <select name="status_add">
          <option value="{{ last_status.id }}">{{ last_status.name }}</option>
          {% for status in statuses %}
          <option value="{{status.id}}">{{status.name}}</option>
          {% endfor %}
        </select>
        </div>
        <br>
        <h4>İsim Soyisim</h4>
        <input name="fullname" value="{{company.full_name}}">
        <br>
        <h4>Not</h4>
          <textarea rows="5" name="note">{{company.note}}</textarea>
        <div class="btn-block">
          <button type="submit" href="/">Güncelle</button>
        </div>
        <div class="btn-block">
          <button><a href="{% url 'reports:companies' %}"> Ana sayfa </a></button>
        </div>
      </form>
    </div>
  </body>
</html>