{% load static %}
{% load reports_tags %}

<!doctype html>
<html lang="en">

    <head>
        <title>Firmalar</title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'list/css/style.css'  %}">
</head>

<body>

      
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Firmalar ({{ companies|length }})</h2>
                    <a href="{% url 'users:logout' %}" class="notification">
                        <span>    Çıkış    </span>
                    </a>
                </div>

                <form method="Post" action="{% url 'reports:companies' %}">
                    {% if user.is_superuser %}
                    Sayı:
                    <input name="count" value="" style="height: 22px;width: 50px;"> 
                    Kullanıcı :
                    <select name="user_filter" >
                        {% if not filters.user_filter.name == "Tümü" %}
                        <option value="{{filters.user_filter.value}}">{{filters.user_filter.name}}</option>
                        {% endif %}
                        {% for user in users %}
                        {% if not user.id == filters.user_filter.value %}
                        <option value="{{user.id}}">{{user.username}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    {% endif %}

                    data tipi:
                    <select name="data_type_filter" >
                        {% if filters.data_type_filter.name == "Google" %}
                        <option value="2">Google</option>
                        <option value="1">Bahattin</option>
                        <option value="0">Tümü</option>
                        {% elif  filters.data_type_filter.name == "Tümü" %}
                        <option value="0">Tümü</option>
                        <option value="2">Google</option>
                        <option value="1">Bahattin</option>
                        {% else %}
                        <option value="1">Bahattin</option>
                        <option value="2">Google</option>
                        <option value="0">Tümü</option>
                        {% endif %}
                    </select>

                    İller:
                    <select name="city_filter" >
                        <option value="{{filters.city_filter.value}}">{{filters.city_filter.name}}</option>
                        {% for city in cities %}
                        {% if city.id == filters.city_filter.value %}
                        <option value="0">Tümü</option>
                        {% else %}
                        <option value="{{city.id}}">{{city.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    Durumlar :
                    <select name="last_status_filter" >
                        <option value="{{filters.last_status_filter.value}}">{{filters.last_status_filter.name}}</option>
                        {% for status in statuses %}
                        {% if not status.id == filters.last_status_filter.value %}
                        <option value="{{status.id}}">{{status.name}}</option>
                        {% else %}
                        <option value="0">Tümü</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    Telefon:
                    <select name="tel_filter">
                        <option value="{{filters.tel_filter.value}}">{{filters.tel_filter.name}}</option>
                        {% if filters.tel_filter.value == "tel" %}
                        <option value="0">Tümü</option>
                        <option value="office">Sabit</option>
                        {% elif filters.tel_filter.value == "office" %}
                        <option value="0">Tümü</option>
                        <option value="tel">Cep</option>
                        {% else %}
                        <option value="tel">Cep</option>
                        <option value="office">Sabit</option>
                        {% endif %}
                    </select>
                    Telefona göre arama :
                    <input name="search" value="{{filters.search}}">
                    <button onClick="this.disabled=true; this.innerText='Lütfen bekleyin';this.form.submit()"  type="submit" class="notification">  uygula  </button>
                </form>
            </div>
            <div class="row justify-content-center">
                <br>
                <br>
            </div>
            {% if not user.is_superuser %}
            <div class="row justify-content-center">
            <button onclick="window.open('{% url 'reports:reminder_report' %}', 'newwindow','width=1024,height=480'); return false;" class="notification">
                <span>Hatırlatma</span>
                {% if remine_companies %}
                <span class="badge">{{ remine_companies|length }}</span>
                {% endif %}
            </button>
            </div>
            {% endif %}

            <br>

            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        {% if user.is_superuser %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{filters.city_filter.name}}</th>
                                    {% for status in statuses %}
                                    <th>{{status.name}}</th>
                                    {% endfor %}
                                    <th>cep</th>
                                    <th>sabit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <th>{{ user.username }}</th>
                                    {% for status in statuses %}
                                        <td>
                                            {% StatusCounter user.id status.id filters.city_filter.value %}
                                        </td>
                                    {% endfor %}
                                    <td>{% TelCounter user.id filters.city_filter.value %}</td>
                                    <td>{% ComtelCounter user.id filters.city_filter.value %}</td>
                                </tr>
                                {% endfor %}
                                
                                
                            </tbody>
                        </table>
                        {% endif %}



                        <table id="form" style="display: none;">
                            <tr>
                                <form method="post" action="{% url 'reports:companies' %}">
                                    <td>
                                        <textarea name="company_name" placeholder="Unvan" style="width: 110px;font-size: small;" required></textarea>
                                    </td>
                                    <td>
                                        <input name="company_tel" type="number" placeholder="Telefon" style="width: 110px;font-size: small;" required>
                                    </td>
                                    <td>
                                        <input name="company_site"  placeholder="Site" style="width: 170px;font-size: small;" >
                                    </td>
                                    <td>
                                        <input name="company_sector" placeholder="Sektor" style="width: 250px;font-size: small;" required>
                                    </td>
                                     <td>
                                        <input name="company_fullname" placeholder="İsim Soyisim" style="width: 110px;font-size: small;" >
                                     </td>
                                     <td>
                                        <textarea name="company_note" placeholder="Not" style="width: 110px;font-size: small;"></textarea>
                                     </td>
                                     <td>
                                        <select name="company_city">
                                            {% for city in cities %}
                                            <option value="{{city.id}}">{{city.name}}</option>
                                            {% endfor %}
                                           </select>
                                       </td>
                                     <td>
                                         <select name="company_status">
                                             {% for status in statuses %}
                                             <option value="{{status.id}}">{{status.name}}</option>
                                             {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                         <input type="hidden" name="last_status_filter" value="{{filters.last_status_filter.value}}">
                                         <input type="hidden" name="city_filter" value="{{filters.city_filter.value}}">
                                         <input type="hidden" name="tel_filter" value="{{filters.tel_filter.value}}">
                                         <input type="hidden" name="data_type_filter" value="{{filters.data_type_filter.value}}">
                                         <button name="add_data" value="true" type="submit">  Ekle  </button>
                                        </td>
                                </form>
                            </tr>
                        </table>



                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Unvan</th>
                                    <th>Telefon</th>
                                    <th style="width: 25px;">SİTE</th>
                                    <th>Sektör</th>
                                    <th>Durum</th>
                                    <th>İsim Soyisim</th>
                                    <th>Not</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% if user.is_superuser %}
                            <form method="post" action="{% url 'reports:companies' %}">
                            {% endif %}
                            <tbody>
                                {% for company in companies %}
                                <tr style="background-color: {{company.last_status.color}};">

                                    {% if not user.is_superuser %}
                                    <form method="post" action="{% url 'reports:companies' %}" >
                                    {% endif %}
                                        <th><a href="{% url 'reports:company' company_id=company.id %}">{{company.name}}</a>
                                        </th>
                                        <td><span data-text="({{company.phone|slice:'0:3'}}) {{company.phone|slice:'3:6'}} {{company.phone|slice:'6:8'}} {{company.phone|slice:'8:10'}}"></span></td>
                                        <td ><a href="//{{company.site}}" target="blank" > <span style="display: inline-block; width: 20em;">{{company.site|slice:'0:30'}}...</span></a></td>
                                        <td>{{company.sector}}</td>

                                        {% if not user.is_superuser %}
                                        <td>
                                            <select name="status_add">
                                                <option value="{{ company.last_status.id }}">
                                                    {{company.last_status.name}}</option>
                                                {% for status in statuses %}
                                                <option value="{{status.id}}">{{status.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input name="fullname" style="width: 130px;" value="{{company.full_name}}"></td>
                                        <td><textarea name="note" style="width: 130px;">{{company.note}}</textarea></td>
                                        {% else %}
                                        <td>
                                            <span>{{company.last_status.name}}</span>
                                        </td>
                                        <td><span name="fullname">{{company.full_name}}</span></td>
                                        <td><span name="note">{{company.note}}</span></td>
                                        {% endif %}

                                        {% if not user.is_superuser %}
                                        <input type="hidden" name="company_id" value="{{company.id}}">
                                        <input type="hidden" name="last_status_filter" value="{{filters.last_status_filter.value}}">
                                        <input type="hidden" name="city_filter" value="{{filters.city_filter.value}}">
                                        <input type="hidden" name="tel_filter" value="{{filters.tel_filter.value}}">
                                        <input type="hidden" name="data_type_filter" value="{{filters.data_type_filter.value}}">
                                        <input type="hidden" name="search" value="{{filters.search}}">
                                        <td>
                                            <button onClick="this.disabled=true; this.innerText='Lütfen bekleyin';this.form.submit()" type="submit">güncelle</button>
                                            {% if company.reminder == None %}
                                            <button onclick="window.open('{% url 'reports:reminder' company_id=company.id %}','newwindow','width=600,height=400'); return false;" > Hatırlat </button>
                                            {%endif%}
                                        </td>
                                        </form>
                                        {% else %}
                                        <input type="hidden" name="take_{{company.id}}" value="{{company.id}}">
                                        {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>

                        {% if user.is_superuser %}
                        <div>
                        <h5>Paylaşılan Kullanıcı</h5>
                        <select name="transfer_to" >
                            {% for user in users %}
                            {% if not user.id == filters.user_filter.value %}
                            <option value="{{user.id}}">{{user.username}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        </div>
                        <input type="hidden" name="last_status_filter" value="{{filters.last_status_filter.value}}">
                        <input type="hidden" name="city_filter" value="{{filters.city_filter.value}}">
                        <input type="hidden" name="tel_filter" value="{{filters.tel_filter.value}}">
                        <input type="hidden" name="search" value="{{filters.search}}">
                        
                        <button type="submit" name="transfer" Value="true">Paylaş</button>
                        </form>
                        {% else %}
                        <button  id="btn" class="notification">
                            <span>    Data Ekle    </span>
                        </button>
                        {% endif %}
                             
                        <button onclick="window.open('{% url 'crawler:google_map_crawler' %}', 'newwindow','width=1024,height=480'); return false;" class="notification">
                            <span>    Google data    </span>
                        </button>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'list/js/jquery.min.js'  %}"></script>
    <script src="{% static 'list/js/popper.js'  %}"></script>
    <script src="{% static 'list/js/bootstrap.min.js'  %}"></script>
    <script src="{% static 'list/js/main.js'  %}"></script>
    <script>
        const btn = document.getElementById('btn');
        btn.addEventListener('click', () => {
        const form = document.getElementById('form');

        if (form.style.display === 'none') {
            // 👇️ this SHOWS the form
            form.style.display = 'block';
            btn.textContent = " Vazgeç ";
        } else {
            // 👇️ this HIDES the form
            form.style.display = 'none';
            btn.textContent = "Data ekle";

        }
        });
    </script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
        integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
        data-cf-beacon='{"rayId":"77f27e1a7e9d50ac","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>