{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Hatırlatma</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'list/css/style.css'  %}">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Sözleşmeler ({{ agreements|length }})</h2>
                    <a href="{% url 'users:login' %}" class="notification">
                        <span>    Ana sayfa    </span>
                    </a>
                </div>


                <form method="Post" action="{% url 'reports:report_agreement' %}">
                    Durumlar :
                    <select name="status_filter" >
                        <option value="{{filters.status_filter.value}}">{{filters.status_filter.name}}</option>
                        {% for status in statuses %}
                        {% if not status.id == filters.status_filter.value %}
                        <option value="{{status.id}}">{{status.name}}</option>
                        {% else %}
                        <option value="0">Tümü</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <button onClick="this.disabled=true; this.innerText='Lütfen bekleyin';this.form.submit()"  type="submit" class="notification">  uygula  </button>
                </form>





            </div>
            

            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Unvan</th>
                                    <th>Kullanıcı</th>
                                    <th>Sözleşme Tarihi</th>
                                    <th>Sözleşme yeri</th>
                                    <th>Telefon</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for agreement in agreements %}
                                <tr style="background-color: {{agreement.status.color}};">
                                    <th>
                                        <a href="{% url 'reports:agreement_admin' agreement_id=agreement.id %}">{{agreement.company_name.name}}</a>
                                    </th>
                                    <td>
                                    {{agreement.user.username}}
                                    </td>
                                    <td>
                                    {{agreement.created_date}}
                                    </td>
                                    <td>
                                        {{agreement.record_place}}
                                    </td>
                                    <td>
                                        {{agreement.person_number}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="{% static 'list/js/jquery.min.js'  %}"></script>
    <script src="{% static 'list/js/popper.js'  %}"></script>
    <script src="{% static 'list/js/bootstrap.min.js'  %}"></script>
    <script src="{% static 'list/js/main.js'  %}"></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
        integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
        data-cf-beacon='{"rayId":"77f27e1a7e9d50ac","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>